@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 0.3rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #e5e5e5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(162, 162, 162);
    min-height: 16px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
  }


::placeholder {
  font-size: 9pt;
}

input::placeholder {
  font-size: 9pt;
}

textarea::placeholder {
  font-size: 9pt;
}

select option[disabled][value=""] {
  font-size: 9pt;
}

/* For any custom elements or components that might use placeholder-like functionality */
*[placeholder] {
  font-size: 9pt;
}

/* For elements with a data attribute indicating a placeholder state */
*[data-placeholder] {
  font-size: 9pt;
}

}






body {
  font-family: "Outfit", sans-serif;
}